.App {
  text-align: center;
}
.home{
  text-align:left;
  width:90%;
  margin:0 auto
}
.boxs{
  display:grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 15px;
  margin:0 auto;
}
.box{
  height:460px;
  text-align:left;
  margin-top: 10px;
  border: 1px solid #8080804d;
  border-radius: 10px;
  padding: 20px;
  background-color:#8080800d;
  box-shadow: 5px 5px 5px gray;
}
.box a{
  text-decoration: none;
  color: black
}
.box:hover{
  margin-top: 0px;
  transition: 0.4s;
}
.box p{
  height: 50px;
  overflow: hidden;
}
.img{
  margin: 0 auto;
  width:150px;
}
.imgReview{
  margin: 0 auto;
  width:100%;
  border-radius: 10px;
}
.boxReview:hover{
  margin-top: 0px;
  transition: 0.4s;
}
.boxReview p{
  height: 50px;
  overflow: hidden;
}

.boxReview{
  height:310px;
  text-align:left;
  margin-top: 10px;
  border: 1px solid #8080804d;
  border-radius: 10px;
  padding: 20px;
  background-color:#8080800d;
  box-shadow: 5px 5px 5px gray;
}
.boxReview a{
  text-decoration: none;
  color: black
}

.home h1{
  font-weight:650;
}
.home h2{
  font-weight:650;
}
.home h3{
  font-weight:650;
}
.home h4{
  font-weight:650;
}




@media only screen and (max-width: 1000px) {
  .boxs{
    display:grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
    margin:0 auto;
  }
}