.page{
    text-align:left;
    width:90%;
    margin:0 auto
}
.page h1{
    font-weight:650;
}
.page h3{
    font-weight:650;
}
.page h6{
    font-weight:650;
}
.page img{
    width:100%;
}
.page .details{
    align-items: center;
    width:80%;
}
.page .buttonAmazon{
    /* margin:0 auto; */
    text-align:center;
}

.page li{
    font-weight: 500;
    font-size:15px;
}
@media only screen and (max-width: 1000px) {
    .page .details{
        align-items: center;
        width:100%;
        margin:0 auto
    }
    .page{
        text-align:left;
        width:100%;
        margin:0 auto
    }
  }